html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	background-color: #262525;
	color: #7b7b7b;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 1px transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}

.section {
	position: relative;
	padding-top: 15px;
	padding-bottom: 30px;
}

.section .section-title {
	margin-bottom: 18px;
}

.section .section-title .title-icon {
	margin-right: 20px;
	color: #8132d9;
}

.section .section-title img {
	width: 66px;
	padding: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: -2px 12px 12px 12px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	backface-visibility: hidden;
}

@media (min-width:768px) {
	.container {
		width: 750px;
	}
}

@media (min-width:992px) {
	.container {
		width: 970px;
	}
}

@media (min-width:1200px) {
	.container {
		width: 1000px;
	}
}

#home .header-background {
	position: relative;
	display: block;
	width: 100%;
	height: 370px;
	background: url(../images/backgrounds/background.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
	font-family: 'Raleway', sans-serif;
}

h4 {
	font-size: 2.18rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

p,
a,
li,
label,
input,
blockquote,
cite,
div {
	font-family: 'Muli', sans-serif;
}

p {
	color: #757575;
}

a {
	color: #8132d9;
}

a:hover {
	color: #9842c9;
	text-decoration: none;
}

a:focus {
	color: #8132d9;
	text-decoration: none;
}

h1 {
	font-weight: 700;
}

h2,
h3,
h4 {
	font-weight: 600;
}

h5,
h6 {
	font-weight: 500;
}

p,
a,
li {
	font-weight: 400;
}

h6 {
	font-size: 1.4em;
}

.is-hidden {
	visibility: hidden;
}

.black {
	background-color: black !important;
}

.hide-overflow {
	overflow: hidden !important;
}

.toast {
	background-color: #8132d9;
}

.card {
	position: relative;
	background-color: #282828;
	transition: box-shadow .25s;
	-webkit-transition: box-shadow .25s;
	border-radius: 0 !important;
	margin: 8px 0;
}

.card .card-content {
	padding: 40px;
	border-radius: 0 0 2px 2px;
}

.card .card-content p {
	margin: 0;
	color: inherit;
	text-align: center;
}

body.scale-effect {
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	pointer-events: all;
}

body.scale-effect .icon-close {
	opacity: 1;
	transform: none;
	-webkit-transform: none;
	pointer-events: all;
}

body.scale-effect .btn-holder #icon-play {
	opacity: 0;
}

body.scale-effect .btn-holder .btn-play {
	transform: scale(28);
	-webkit-transform: scale(28);
}

@media screen and (max-width:767px) {
	.btn-holder {
		top: 102px;
		right: 0;
	}
	.btn {
		padding-top: 8px;
	}
	.btn-holder {
		position: absolute;
		top: 75px;
		right: 346px;
		cursor: pointer;
		z-index: 3;
		transition: all .5s;
	}
	.btn-holder .icon-close {
		transition: 0.2s ease-in-out;
	}
	.btn-holder:hover .btn-play {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	}
	.btn-play {
		box-sizing: border-box;
		transform-origin: 50%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
		background-color: #8132d9;
		overflow: hidden;
	}
	.btn-play:hover {
		background-color: #8132d9;
	}
	.btn-play i {
		font-size: 35px;
		color: #282828;
	}
	.btn-holder .btn-large {
		width: 36.5px;
		height: 36.5px;
	}
	.btn-holder .btn-large i {
		line-height: 1 !important;
		font-size: 26px !important;
	}
	.middle {
		top: 250px !important;
		right: 50px !important;
	}
}

.height-change {
	height: 548px !important;
	margin: -76px 3px 0 0px !important;
}

@media screen and (max-width:660px) {
	.height-change {
		height: 440px !important;
		margin: -76px 3px 0 0px !important;
	}
}

@media screen and (max-width:500px) {
	.height-change {
		height: 300px !important;
		margin: -21px 3px 0 0px !important;
	}
}

@media screen and (min-width:769px) and (max-width:991px) {
	.middle {
		top: 170px !important;
		right: 340px !important;
	}
}

#v-card-holder {
	overflow: visible;
	width: 100%;
	height: auto;
	margin-top: -194px;
}

#v-card-holder #v-card {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	-webkit-transition: height 1s, color 1s, margin 1s;
	transition: height 1s, color 1s, margin 1s;
	z-index: 1;
	background: #262525;
	margin: -33px 3px 0 0;
}

#v-card-holder #v-card .info-headings {
	max-width: 514px;
}

#v-card-holder #v-card .info-headings h4 {
	display: block;
	width: 100%;
	font-weight: 900;
	color: #7b7b7b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#v-card-holder #v-card .info-headings h6 {
	display: block;
	width: 100%;
	font-weight: 300;
	margin-top: -10px;
	margin-bottom: 30px;
	font-size: 1.2em;
	color: #7b7b7b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

#v-card-holder #v-card .infos {
	max-width: 515px;
	margin-top: 99px;
}

#v-card-holder #v-card .infos .profile-list .title {
	display: block;
	float: left;
	color: #7b7b7b;
	line-height: 26px;
}

#v-card-holder #v-card .infos .profile-list .title i {
	font-size: 23px;
}

#v-card-holder #v-card .infos .profile-list .title .fa {
	padding-left: 2px;
}

#v-card-holder #v-card .infos .profile-list .content {
	display: block;
	margin-left: 30px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #7b7b7b;
}

#v-card-holder #v-card .links {
	max-width: 500px;
	margin-left: -12px;
	margin-top: 12px;
	height: 100%;
}

#v-card-holder #v-card .links .social {
	margin-left: 12px;
	margin-bottom: 4px;
}

#v-card-holder #v-card .links .social i {
	font-size: 15px;
	vertical-align: middle;
	padding-bottom: 15px;
}

@media screen and (max-width:400px) {
	#v-card-holder #v-card .links .social {
		margin: 4px;
	}
}

@media screen and (max-width:295px) {
	#v-card-holder #v-card .links .social {
		margin: 1px;
	}
}

@media screen and (max-width:990px) {
	#v-card-holder #v-card .infos {
		max-width: 278px;
	}
	#v-card-holder #v-card .links {
		max-width: 325px;
	}
	#v-card-holder #v-card .info-headings {
		max-width: 270px;
	}
}

#v-card-holder #v-card #profile {
	position: absolute;
	right: 0;
	z-index: 1;
}

#v-card-holder #v-card #profile img {
	width: 400px;
	height: auto;
}

#v-card-holder #v-card #profile .slant {
	top: 0;
	z-index: 1;
	position: absolute;
	border-style: solid;
	border-width: 400px 0 0 100px;
	border-color: rgba(223, 50, 50, 0) transparent transparent #262525;
}

#v-card-holder #v-card #profile .add-btn {
	position: absolute;
	background-color: #8132d9;
	top: 20%;
	right: 86%;
	overflow: hidden;
}

#v-card-holder #v-card #profile .add-btn i {
	font-size: 35px;
	color: #282828;
}

@media screen and (max-width:767px) {
	#v-card-holder #v-card {
		position: relative;
		width: 100%;
		overflow: visible;
		z-index: 1;
		top: 34px;
	}
	#v-card-holder #v-card #profile {
		position: absolute;
		bottom: 85%;
		left: 0;
		width: 150px;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
		background-color: transparent;
	}
	#v-card-holder #v-card #profile img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	#v-card-holder #v-card #profile .slant {
		display: none;
		opacity: 0;
		overflow: hidden;
	}
	#v-card-holder #v-card #profile .add-btn {
		display: none;
	}
	#v-card-holder #v-card .social {
		top: 0;
		margin-left: 5px;
		margin-bottom: 4px;
	}
	#v-card-holder #v-card .infos {
		display: table;
		margin: 0 auto;
		max-width: 100%;
		padding: 0;
	}
	#v-card-holder #v-card .links {
		display: table;
		max-width: 100%;
		padding: 0;
		margin: 0 auto 9px;
	}
	#v-card-holder #v-card .links #first_one {
		margin-left: 0;
	}
	#v-card-holder #v-card .info-headings {
		max-width: 100%;
		text-align: center;
		margin-top: 38px;
	}
	#v-card-holder #v-card .info-headings h6 {
		margin-bottom: 20px;
	}
	#v-card-holder #v-card .card-content {
		padding: 10px;
	}
}

#about {
	transition: all 1s;
}

#about .about-btn {
	height: auto;
	margin-right: auto;
	margin-left: auto;
	animation-delay: 1s;
	text-align: center;
}

#about .about-btn .btn {
	margin: 7px 7px;
	background: #8132d9;
	color: #282828;
	width: 180px;
	border-radius: 2px;
}

#about .about-btn .btn:hover {
	background: #9842c9;
}

#timeline-education {
	position: relative;
}

#timeline-education:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 23px;
	left: 50%;
	height: 99.5%;
	width: 4px;
	opacity: 0.3;
	background: #8132d9;
}

#timeline-experience {
	position: relative;
}

#timeline-experience::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 23px;
	left: 50%;
	height: 99.5%;
	width: 4px;
	opacity: 0.3;
	background: #8132d9;
}

.timeline-block {
	position: relative;
}

.timeline-block::after {
	clear: both;
	content: "";
	display: table;
}

.timeline-block:first-child {
	margin-top: 0;
}

.timeline-block:last-child {
	margin-bottom: 0;
}

.timeline-block .card-content {
	padding: 20px;
}

.timeline-block .card-content p {
	margin-top: 13px;
	text-align: left;
}

.timeline-block .card-content .modal-dot {
	outline: 0;
	font-size: 20px;
}

.timeline-block .card-content .modal-dot:hover,
.timeline-block .card-content .modal-dot:focus {
	color: #046c40;
}

.timeline-block .timeline-dot {
	background: #8132d9;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 2;
	color: #282828;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 2%;
}

.timeline-block .timeline-dot i {
	text-align: center;
	font-size: 24px;
	margin-top: 2%;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.timeline-block .timeline-dot h6 {
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	margin-top: 8px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.timeline-block .timeline-content {
	position: relative;
	background: #282828;
	margin-right: 0;
	z-index: 1;
	margin-bottom: 5px;
	border-left: 5px solid #8132d9;
}

.timeline-block .timeline-content::before {
	content: '';
	width: 58px;
	height: 4px;
	position: absolute;
	top: 26px;
	left: 100%;
	z-index: -2;
	opacity: 0.4;
	background: #8132d9;
}

.timeline-block .timeline-content::after {
	clear: both;
	content: "";
	display: table;
}

.timeline-block .timeline-content .timeline-title {
	max-width: 84%;
	font-weight: normal;
}

.timeline-block .timeline-content .timeline-info h6 {
	line-height: 12px;
}

.timeline-block .timeline-content .timeline-info h6 small {
	color: inherit;
}

@media screen and (max-width:768px) {
	.timeline-block .timeline-content:before {
		display: none;
	}
}

@media only screen and (min-width:768px) {
	#timeline-education::before {
		left: 50%;
		margin-left: -2px;
		height: 77.1%;
		opacity: 0.4;
		background: #8132d9;
	}
	#timeline-experience::before {
		left: 50%;
		margin-left: -2px;
		height: 69.1%;
		opacity: 0.4;
		background: #8132d9;
	}
	.timeline-block {
		margin: -5em 0;
	}
	.timeline-block .card {
		margin: 0;
	}
	.timeline-block .timeline-dot {
		width: 50px;
		height: 50px;
		left: 50%;
		top: 0;
		z-index: 2;
		margin-left: -24px;
		transform: translateZ(0);
		backface-visibility: hidden;
	}
	.timeline-block .timeline-content {
		width: 44%;
	}
	.timeline-block .timeline-content .timeline-title {
		max-width: 100%;
	}
	.timeline-block:nth-child(even) .timeline-content {
		float: right;
	}
	.timeline-block:nth-child(even) .timeline-content::before {
		top: 25px;
		left: auto;
		right: 101.2%;
		z-index: -2;
	}
}

#contact .card .card-content .input-field {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 12px;
}

#contact .card .card-content .input-field label {
	left: 0;
	font-weight: normal;
	top: 0.5rem;
}

#contact .card .card-content .btn {
	background-color: #8132d9;
	width: 115px;
	color: #282828;
	border-radius: 2px;
	margin-top: 7px;
}

#contact .card .card-content .btn:hover {
	background: #9842c9;
}

#contact .card .card-content .select {
	margin: 40px;
	background: rgba(0, 0, 0, 0.3);
	color: black;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#contact .card .card-content .thankyou {
	text-align: center;
}

#contact .card .progress {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #8132d9;
	border-radius: 0;
	margin: -4px 0 0;
}

#contact .card .indeterminate {
	background-color: #282828;
}

#contact #myMap {
	width: 100%;
	height: 417px;
}

#contact #myMap .map-label {
	width: 36px;
	height: 36px;
	border-radius: 50% 50% 50% 0;
	background: #8132d9;
	position: absolute;
	-webkit-transform: rotate(-45deg) !important;
	transform: rotate(-45deg) !important;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@-moz-document url-prefix() {
	#contact #myMap {
		height: 412px;
	}
}

@media screen and (max-width:480px) {
	#contact #myMap {
		height: 300px;
	}
}

#contact input:not([type]):focus:not([readonly])+label,
#contact input[type=text]:focus:not([readonly])+label,
#contact input[type=password]:focus:not([readonly])+label,
#contact input[type=email]:focus:not([readonly])+label,
#contact input[type=url]:focus:not([readonly])+label,
#contact input[type=time]:focus:not([readonly])+label,
#contact input[type=date]:focus:not([readonly])+label,
#contact input[type=datetime-local]:focus:not([readonly])+label,
#contact input[type=tel]:focus:not([readonly])+label,
#contact input[type=number]:focus:not([readonly])+label,
#contact input[type=search]:focus:not([readonly])+label,
#contact textarea.materialize-textarea:focus:not([readonly])+label {
	color: #8132d9;
}

#contact input:not([type]):focus:not([readonly]),
#contact input[type=text]:focus:not([readonly]),
#contact input[type=password]:focus:not([readonly]),
#contact input[type=email]:focus:not([readonly]),
#contact input[type=url]:focus:not([readonly]),
#contact input[type=time]:focus:not([readonly]),
#contact input[type=date]:focus:not([readonly]),
#contact input[type=datetime-local]:focus:not([readonly]),
#contact input[type=tel]:focus:not([readonly]),
#contact input[type=number]:focus:not([readonly]),
#contact input[type=search]:focus:not([readonly]),
#contact textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #8132d9;
	box-shadow: 0 1px 0 0 #8132d9;
}

#contact input:not([type]),
#contact input[type=text],
#contact input[type=password],
#contact input[type=email],
#contact input[type=url],
#contact input[type=time],
#contact input[type=date],
#contact input[type=datetime-local],
#contact input[type=tel],
#contact input[type=number],
#contact input[type=search],
#contact textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0c0c0c;
	border-radius: 0;
	outline: none;
	height: 2rem;
	width: 100%;
	font-size: 1rem;
	margin: 6px 0 6px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: all .5s;
}

#contact textarea.materialize-textarea {
	overflow-y: hidden;
	resize: none;
	min-height: 5rem;
}

hr {
	border-top: 1px solid #282828;
}

footer {
	width: 100%;
	height: auto;
	color: #282828;
	margin-top: -18px;
	margin-bottom: 9px;
}